.navbar-dropdown-menu {
    background-color: rgba(0, 101, 76, 0.95);
}

.navbar-dropdown-menu form {
    min-height: 40px;
}

.navbar-dropdown-menu > li > form:hover {
    color: #111;
    background-color: rgba(183, 183, 183, 0.95) !important;
}

.navbar-dropdown-menu > li > form:hover > input {
    color: #111 !important;
}

.navbar-dropdown-menu input {
    line-height: 50px;
}

#app-footer {
    text-align: center;
    color: gray;
    letter-spacing: 3px;
}
.validation-summary-errors ul, .validation-summary-errors li {
    list-style: none;
    display: inline;
    padding: 0;
}

.validation-summary-errors {
    background-color: #aa0000;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#register-link {
    margin-top: 40px;
}

.field-validation-error {
    margin-left: 20px;
    font-size: 12px;
}

.entry-form-label {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.entry-form-control {
    min-width: 95%;
}
.entry-desc-text-area {
    min-height: 200px;
    resize: none;
}
.entry-content-text-area {
    min-height: 400px;
    resize: none;
}
.entry-dropdown {
    min-width: 95%;
}
.btn-dropdown-item {
    display: block;
    min-width: 100% !important;
    text-align: left !important;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #ebebeb;
    white-space: nowrap;
    background-color: transparent;
    -webkit-appearance: listitem !important;
}
.dropdown-menu > li > form:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #375a7f;
}
.entry-cat-actions-btn {
    min-height: 26px !important;
    max-height: 26px !important;
    font-size: 13px;
    line-height: 80%;
    border-radius: 3px;
}

/* ENTRY PREVIEW */

#container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
#entry-main {
    display: block;
    text-align: justify;
    width: 750px;
}
#content h1 {
    font-size: 30px;
    text-align: left;
}
#entry-data {
    color: #bbbbbb;
    font-size: 14px;
}
.entry-img img {
    width: 100%;
}
.main-img-container img {
    width: 100%;
}
.preview-input-form {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.preview-input-btn {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

/* Manager account */

.md-custom-dropdown {
    width: 50% !important;
    height: 30px !important;
    padding-left: 10px !important;
    padding-top: 4px !important;
}

/* Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 22px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E74C3C;
    transition: .6s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .6s;
}

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider,
input[type="checkbox"]:checked + .slider {
    background-color: #00BF55;
}

/* include generated hidden field here */
input[type="checkbox"]:focus + input[type="hidden"] + .slider,
input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px #00BF55;
}

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
input[type="checkbox"]:checked + .slider:before {
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

/* FILE INPUT */
[hidden] {
    display: none !important;
}

/* Galleries Pictures */
#test2 {
    width: 1300px;
    max-width: 1300px;
    left: -260px;
    position: relative;
}
#gallery-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 0;
}

.gallery-item {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.img-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.img-container .gallery-picture {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.6;
    transition: all 0.3s linear;
    -webkit-backface-visibility: hidden;
}

.gallery-item:hover .gallery-picture {
    -ms-transform: scale(1.01) translateZ(0); /* IE 9 */
    -webkit-transform: scale(1.01) translateZ(0); /* Chrome, Safari, Opera */
    transform: scale(1.01) translateZ(0);
    opacity: 1;
}