@{
    ViewBag.Title = "Home Page";
}

<div class="home-bcg-box col-md-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="bcg-box-text-placeholder">
        <div class="bcg-box-text">
            <h1>BlogManager</h1>
        </div>
    </div>
    <div class="bcg-box-text-placeholder">
        <div class="bcg-box-text">
            <h4>Content Management System</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Entries</h2>
        <p>
            Write down and publish your thoughts, ideas or memories. Discover functionality of entries tab.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Galleries</h2>
        <p>
            Blog is not just a text. Add photos galleries to cheer your blog up.
        </p>
    </div>
</div>
<br /><br /><br />